/*
Error: Invalid CSS after "<<<<<<< HEAD": expected "{", was "}"
        on line 1888 of /media/thio/ini data/Project/Web/Vue/inicss/public/assets/css/ini.scss

1883:     -webkit-transform: scaleY(1);
1884:     -moz-transform: scaleY(1);
1885:     -o-transform: scaleY(1);
1886:     transform: scaleY(1);
1887: <<<<<<< HEAD
1888: }
1889: /*
1890: ===============================================================
1891:     INI TABS
1892: ===============================================================
1893: *\/

Backtrace:
/media/thio/ini data/Project/Web/Vue/inicss/public/assets/css/ini.scss:1888
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1278:in `expected'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1208:in `expected'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1203:in `tok!'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:677:in `block'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:747:in `declaration_or_ruleset'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:697:in `block_child'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:689:in `block_contents'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:678:in `block'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:670:in `ruleset'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:696:in `block_child'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:689:in `block_contents'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:137:in `stylesheet'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:41:in `parse'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:414:in `_to_tree'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
/usr/share/koala/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
/usr/share/koala/bin/sass:22:in `load'
/usr/share/koala/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"<<<<<<< HEAD\": expected \"{\", was \"}\"\A         on line 1888 of /media/thio/ini data/Project/Web/Vue/inicss/public/assets/css/ini.scss\A \A 1883:     -webkit-transform: scaleY(1);\A 1884:     -moz-transform: scaleY(1);\A 1885:     -o-transform: scaleY(1);\A 1886:     transform: scaleY(1);\A 1887: <<<<<<< HEAD\A 1888: }\A 1889: /*\A 1890: ===============================================================\A 1891:     INI TABS\A 1892: ===============================================================\A 1893: */"; }
