body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #464646;
  font-family: 'Open Sans', sans-serif; }

a {
  text-decoration: none;
  color: #464646; }

img {
  max-width: 100%; }

*,
*::before,
*::after {
  box-sizing: border-box; }

.hidden {
  display: none; }

/*
===============================================================
    INI POSITION
===============================================================
*/
.ini.float.left {
  float: left; }

.ini.float.right {
  float: right; }

.ini.align.left {
  text-align: left; }

.ini.align.right {
  text-align: right; }

.ini.align.center {
  text-align: center; }

.ini.align.justify {
  text-align: justify; }

.ini.margin.left {
  margin-left: auto; }

.ini.margin.right {
  margin-right: auto; }

.ini.margin.center {
  margin: 0 auto; }

/*
===============================================================
    INI GRID
===============================================================
*/
.ini.grids {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px; }

.grid {
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  padding-right: 10px;
  padding-left: 10px; }

.grid-12 {
  flex: none;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px; }

.grid-11 {
  flex: none;
  width: 91.666667%;
  padding-right: 10px;
  padding-left: 10px; }

.grid-10 {
  flex: none;
  width: 83.333333%;
  padding-right: 10px;
  padding-left: 10px; }

.grid-9 {
  flex: none;
  width: 75%;
  padding-right: 10px;
  padding-left: 10px; }

.grid-8 {
  flex: none;
  width: 66.666667%;
  padding-right: 10px;
  padding-left: 10px; }

.grid-7 {
  flex: none;
  width: 58.333333%;
  padding-right: 10px;
  padding-left: 10px; }

.grid-6 {
  flex: none;
  width: 50%;
  padding-right: 10px;
  padding-left: 10px; }

.grid-5 {
  flex: none;
  width: 41.666667%;
  padding-right: 10px;
  padding-left: 10px; }

.grid-4 {
  flex: none;
  width: 33.333333%;
  padding-right: 10px;
  padding-left: 10px; }

.grid-3 {
  flex: none;
  width: 25%;
  padding-right: 10px;
  padding-left: 10px; }

.grid-2 {
  flex: none;
  width: 16.666667%;
  padding-right: 10px;
  padding-left: 10px; }

.grid-1 {
  flex: none;
  width: 8.333333%;
  padding-right: 10px;
  padding-left: 10px; }

.grid.xsmall-1, .grid.xsmall-2, .grid.xsmall-3, .grid.xsmall-4, .grid.xsmall-5, .grid.xsmall-6, .grid.xsmall-7, .grid.xsmall-8, .grid.xsmall-9, .grid.xsmall-10, .grid.xsmall-11, .grid.xsmall-12,
.grid.small-1, .grid.small-2, .grid.small-3, .grid.small-4, .grid.small-5, .grid.small-6, .grid.small-7, .grid.small-8, .grid.small-9, .grid.small-10, .grid.small-11, .grid.small-12,
.grid.large-1, .grid.large-2, .grid.large-3, .grid.large-4, .grid.large-5, .grid.large-6, .grid.large-7, .grid.large-8, .grid.large-9, .grid.large-10, .grid.large-11, .grid.large-12,
.grid.xlarge-1, .grid.xlarge-2, .grid.xlarge-3, .grid.xlarge-4, .grid.xlarge-5, .grid.xlarge-6, .grid.xlarge-7, .grid.xlarge-8, .grid.xlarge-9, .grid.xlarge-10, .grid.xlarge-11, .grid.xlarge-12 {
  width: 100%;
  flex-basis: auto;
  -ms-flex-positive: auto;
  flex-grow: inherit; }

@media (min-width: 0px) {
  .grid.xsmall-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.xsmall-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.xsmall-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.xsmall-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.xsmall-5 {
    -ms-flex: 0 0 41.666667%;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.xsmall-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.xsmall-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.xsmall-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.xsmall-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.xsmall-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.xsmall-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.xsmall-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 10px;
    padding-left: 10px; } }
@media (min-width: 576px) {
  .grid.small-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.small-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.small-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.small-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.small-5 {
    -ms-flex: 0 0 41.666667%;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.small-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.small-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.small-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.small-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.small-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.small-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.small-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 10px;
    padding-left: 10px; } }
@media (min-width: 768px) {
  .grid.medium-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.medium-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.medium-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.medium-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.medium-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.medium-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.medium-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.medium-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.medium-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.medium-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.medium-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.medium-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 10px;
    padding-left: 10px; } }
@media (min-width: 992px) {
  .grid.large-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.large-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.large-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.large-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.large-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.large-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.large-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.large-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.large-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.large-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.large-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.large-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 10px;
    padding-left: 10px; } }
@media (min-width: 1200px) {
  .grid.xlarge-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.xlarge-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.xlarge-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.xlarge-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.xlarge-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.xlarge-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.xlarge-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.xlarge-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.xlarge-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.xlarge-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.xlarge-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
    padding-right: 10px;
    padding-left: 10px; }

  .grid.xlarge-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 10px;
    padding-left: 10px; } }
/*
===============================================================
    INI CONTAINER
===============================================================
*/
.ini.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%; }

@media (min-width: 576px) {
  .ini.container {
    max-width: 540px; } }
@media (min-width: 768px) {
  .ini.container {
    max-width: 720px; } }
@media (min-width: 992px) {
  .ini.container {
    max-width: 960px; } }
@media (min-width: 1200px) {
  .ini.container {
    max-width: 1140px; } }
/*
===============================================================
    INI DISPLAY
===============================================================
*/
.ini.display.block {
  display: block; }

.ini.display.flex {
  display: flex; }

.ini.display.inline-block {
  display: inline-block; }

/*
===============================================================
    INI BACKGROUND
===============================================================
*/
.ini.background.blue {
  background: #2980b9; }

.ini.background.red {
  background: #e74c3c; }

.ini.background.inicss {
  background: #fc732b; }

.ini.background.gray {
  background: #7f8c8d; }

.ini.background.black {
  background: #000; }

.ini.background.orange {
  background: #f39c12; }

.ini.background.carrot {
  background: #e67e22; }

.ini.background.purple {
  background: #9b59b6; }

.ini.background.orange {
  background: #f39c12; }

.ini.background.midnight {
  background: #2c3e50; }

.ini.background.green {
  background: #2ecc71; }

/*
===============================================================
    INI COLOR
===============================================================
*/
.ini.color.blue {
  background: #2980b9; }

.ini.color.red {
  background: #e74c3c; }

.ini.color.inicss {
  background: #fc732b; }

.ini.color.gray {
  background: #7f8c8d; }

.ini.color.black {
  background: #000; }

.ini.color.orange {
  background: #f39c12; }

.ini.color.carrot {
  background: #e67e22; }

.ini.color.purple {
  background: #9b59b6; }

.ini.color.orange {
  background: #f39c12; }

.ini.color.midnight {
  background: #2c3e50; }

.ini.color.green {
  background: #2ecc71; }

/*
===============================================================
    INI MODAL
===============================================================
*/
.closeModal, .openModal {
  cursor: pointer; }

.ini.overflow.hidden {
  overflow: hidden; }

.ini.modals {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  z-index: 998;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  padding: 0rem 1rem; }
  .ini.modals .ini.modal {
    transform: scaleX(0.8) scaleY(0.8);
    transition: all 0.2s;
    margin: 2rem auto; }
  .ini.modals .ini.modal.small {
    max-width: 540px; }
  .ini.modals .ini.modal.medium {
    max-width: 720px; }
  .ini.modals .ini.modal.large {
    max-width: 1080px; }

.ini.modals.active {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s; }
  .ini.modals.active .ini.modal {
    transform: scaleX(1) scaleY(1);
    transition: all 0.2s; }

.ini.modals.centered {
  display: flex;
  justify-content: center;
  align-items: center; }

.ini.modal {
  background: white; }

.ini.modal .header {
  border-bottom: 1px solid #ccc; }

.ini.modal h1,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

.ini.modal .header, .ini.modal .action {
  display: flex; }
.ini.modal .header, .ini.modal .action, .ini.modal .content {
  padding: 10px 20px; }
.ini.modal .action {
  justify-content: flex-end; }
  .ini.modal .action button {
    margin: 0px 5px; }
  .ini.modal .action button:first-child {
    margin-left: 0; }
  .ini.modal .action button:last-child {
    margin-right: 0; }
.ini.modal .button.close {
  margin-left: auto;
  padding: 0;
  color: #000; }

@media (max-width: 575px) {
  .ini.modal {
    min-width: 100%;
    max-width: 100%; } }
/*
===============================================================
    INI NAVBAR
===============================================================
*/
.ini.navbar {
  display: flex;
  padding: 1rem 2rem;
  box-shadow: 0 2px 0 0 #f5f5f5;
  margin-bottom: 1rem;
  background: white; }
  .ini.navbar img {
    vertical-align: top !important;
    height: 30px; }
  .ini.navbar .ini.menus {
    display: inline-flex;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .ini.navbar .navbar.brand {
    padding: 0px 10px;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .ini.navbar .menu.left, .ini.navbar .menu.right, .ini.navbar .menu.center {
    flex: 1;
    line-height: 30px; }
    .ini.navbar .menu.left a, .ini.navbar .menu.right a, .ini.navbar .menu.center a {
      padding: .5rem 1rem; }
  .ini.navbar .menu.left {
    text-align: left; }
  .ini.navbar .menu.center {
    text-align: center; }
  .ini.navbar .menu.right {
    text-align: right; }

.ini.navbar.fixed {
  position: sticky;
  top: 0; }

@media (min-width: 768px) {
  .ini.navbar .ini.hamburger {
    display: none; } }
@media (max-width: 767px) {
  .ini.navbar {
    display: block; }
    .ini.navbar .navbar.brand {
      display: inline-block; }
    .ini.navbar .ini.menus {
      display: none !important;
      box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
      padding: 12px; }
    .ini.navbar .ini.menus.active {
      display: block !important; }
    .ini.navbar .ini.hamburger {
      display: inline-block;
      float: right; }
    .ini.navbar .menu {
      text-align: left !important;
      line-height: normal !important; }
      .ini.navbar .menu a {
        padding: .5rem 0.6rem .5rem 0rem !important;
        display: block; } }
/*
===============================================================
    INI HAMBURGER
===============================================================
*/
.ini.hamburger span {
  height: 2px;
  width: 25px;
  background: #929292;
  display: -webkit-box;
  position: relative;
  left: 0;
  transition: all 0.3s; }

.ini.hamburger span:first-child {
  -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1); }

.ini.hamburger span:nth-child(2),
.ini.hamburger span:last-child {
  margin-top: 6px;
  -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1); }

.ini.hamburger.active {
  position: relative;
  top: 8px; }

.ini.hamburger.active span:first-child {
  transform: translate3d(0, 0, 0) rotate(45deg);
  -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1); }

.ini.hamburger.active span:nth-child(2) {
  opacity: 0; }

.ini.hamburger.active span:last-child {
  transform: translate3d(0, -16px, 0) rotate(-45deg);
  -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1); }

.ini.hamburger:hover:not(.active) span:first-child {
  left: 10px;
  transition: all 0.3s; }

.ini.hamburger:hover:not(.active) span:nth-child(2) {
  left: 5px;
  transition: all 0.3s; }

/*
===============================================================
    INI ACCORDION
===============================================================
*/
.ini.menu.vertical {
  list-style: none;
  padding-left: 0;
  margin: 0; }
  .ini.menu.vertical > li > a {
    display: block;
    padding: 10px;
    cursor: pointer;
    font-weight: 600; }
  .ini.menu.vertical .openCollapse::after {
    font-family: 'Material Icons';
    content: "expand_more";
    float: right; }
  .ini.menu.vertical .openCollapse.active::after {
    content: "expand_less"; }
  .ini.menu.vertical .collapse.active {
    max-height: 999px;
    transition: max-height 0.5s; }
  .ini.menu.vertical .collapse {
    list-style: none;
    overflow: hidden;
    padding-left: 20px;
    max-height: 0px;
    transition: max-height 0.3s; }
    .ini.menu.vertical .collapse a {
      display: block;
      padding: 7px;
      cursor: pointer;
      color: #797979;
      font-size: 14px; }

/*
===============================================================
    INI TEXT
===============================================================
*/
.ini.bold {
  font-weight: bold; }

.ini.color.white {
  color: white; }

/*
===============================================================
    INI BUTTON
===============================================================
*/
.ini.button {
  color: white;
  padding: 6px 15px;
  outline: none;
  box-shadow: none;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  background: transparent;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none; }

.ini.button.blue {
  background: #2980b9;
  border: 1px solid #2980b9; }

.ini.button.blue:hover {
  background: #276994; }

.ini.button.o-blue {
  border: 1px solid #2980b9;
  color: #2980b9; }

.ini.button.o-blue:hover {
  background: #2980b9;
  color: white; }

.ini.button.inicss {
  border: 1px solid #fc732b;
  background: #fc732b; }

.ini.button.inicss:hover {
  background: #e86520; }

.ini.button.red {
  border: 1px solid #e74c3c;
  background: #e74c3c; }

.ini.button.red:hover {
  background: #c73c2d; }

.ini.button.o-red {
  border: 1px solid #e74c3c;
  color: #e74c3c; }

.ini.button.o-red:hover {
  background: #e74c3c;
  color: white; }

.ini.button.gray {
  border: 1px solid #7f8c8d;
  background: #7f8c8d; }

.ini.button.gray:hover {
  background: #6b6b6b; }

.ini.button.o-gray {
  border: 1px solid #7f8c8d;
  color: #7f8c8d; }

.ini.button.o-gray:hover {
  background: #7f8c8d;
  color: white; }

.ini.button.black {
  border: 1px solid #000;
  background: #000; }

.ini.button.black:hover {
  background: #505050; }

.ini.button.o-black {
  border: 1px solid #000;
  color: #000; }

.ini.button.o-black:hover {
  background: #000;
  color: white; }

.ini.button.orange {
  border: 1px solid #f39c12;
  background: #f39c12; }

.ini.button.orange:hover {
  background: #e29214; }

.ini.button.o-orange {
  border: 1px solid #f39c12;
  color: #f39c12; }

.ini.button.o-orange:hover {
  background: #f39c12;
  color: white; }

.ini.button.carrot {
  border: 1px solid #e67e22;
  background: #e67e22; }

.ini.button.carrot:hover {
  background: #da6c0b; }

.ini.button.o-carrot {
  border: 1px solid #e67e22;
  color: #e67e22; }

.ini.button.o-carrot:hover {
  background: #e67e22;
  color: white; }

.ini.button.purple {
  border: 1px solid #9b59b6;
  background: #9b59b6; }

.ini.button.purple:hover {
  background: #8135a0; }

.ini.button.o-purple {
  border: 1px solid #9b59b6;
  color: #9b59b6; }

.ini.button.o-purple:hover {
  background: #9b59b6;
  color: white; }

.ini.button.midnight {
  border: 1px solid #2c3e50;
  background: #2c3e50; }

.ini.button.midnight:hover {
  background: #516982; }

.ini.button.o-midnight {
  border: 1px solid #2c3e50;
  color: #2c3e50; }

.ini.button.o-midnight:hover {
  background: #2c3e50;
  color: white; }

.ini.button.green {
  border: 1px solid #2ecc71;
  background: #2ecc71; }

.ini.button.green:hover {
  background: #18b159; }

.ini.button.o-green {
  border: 1px solid #2ecc71;
  color: #2ecc71; }

.ini.button.o-green:hover {
  background: #2ecc71;
  color: white; }

.ini.button.o-white {
  border: 1px solid white;
  color: white; }

/*
===============================================================
    display
===============================================================
*/
@media (max-width: 575px) {
  .ini.hide.down-small {
    display: none; } }
@media (min-width: 576px) {
  .ini.hide.down-small {
    display: show; } }
/*
===============================================================
    INI TABLE
===============================================================
*/
.ini.table {
  width: 100%;
  background: #fff;
  text-align: left;
  border-spacing: 0;
  font-size: 14px; }
  .ini.table thead tr th, .ini.table tbody tr td {
    padding: .78571429em .78571429em; }
  .ini.table thead {
    border-spacing: 0;
    background: #e4e4e4; }
  .ini.table tbody tr td {
    border-bottom: 1px solid #ececec; }

.ini.table.striped tbody tr:nth-of-type(odd) {
  background: #f7f7f7; }

.ini.table.bordered {
  border: 1px solid #eaeaea;
  border-radius: 3px; }
  .ini.table.bordered thead tr th {
    border-right: 1px solid #fff; }
  .ini.table.bordered tbody tr td {
    border: 0px solid #eaeaea;
    border-width: 0px 1px 1px 0px; }
  .ini.table.bordered tbody tr td:last-child, .ini.table.bordered thead tr th:last-child {
    border-right: none; }
  .ini.table.bordered tbody tr:last-child td {
    border-bottom: none; }

/*# sourceMappingURL=ini.css.map */
